[submodule "libInfinite"]
	path = libInfinite
	url = https://github.com/Coreforge/libInfinite.git
[submodule "yttrium"]
	path = 3D/yttrium
	url = https://github.com/Coreforge/yttrium.git
[submodule "argparse"]
	path = argparse
	url = https://github.com/p-ranav/argparse
